<%- include('partials/header') -%>
    <h1>Elrond in Action!</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUuOK2qUdxS7egMNes9vxSBFZtRV-dXIjD9g&usqp=CAU" alt="Elrond">
    <section class="links">
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
    </section>    
<%- include('partials/footer') -%>