<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pallets 'R Us </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- <h1>build it here</h1> -->
    <h2>
        <span>Ship Date:   </span>
        <input type="Date" placeholder="shipDate">
    </h2>
    <h2>
        <span>Customer:</span>   
        <input type="text" list="Customer" placeholder="Customer">
    </h2>
    <h2>
        <span>Cartons:</span>
        <ul id="cartonListContainer">
            <li><input type="text" class="cartonList" id="carton-1" onkeydown="clickThatButton(event)">  <button onclick="addLineForCarton(this)">Delete Carton</button></li>
        </ul>
    </h2>

    <!--add a submit post request. Add together all inputs to get the pallet array  -->

    <datalist id="Customer">
        <option value="Dillards"></option>
        <option value="Belk"></option>
        <option value="Macys"></option>
        <option value="Marine"></option>
        <option value="Amazon"></option>
        <option value="AAFES"></option>
    </datalist>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>     