<%- include('partials/header') -%>

    <h1>build it here</h1>
    <form action="/pallet/createPallet" method="POST">
        <section><h2>Customer:</h2><input type="text"  id="customerNameS" placeholder="Customer" list="customer" name="customerNameR"></section>
        <section><h2>Ship Date:</h2><input type="date"  id="shipDateS"  placeholder="shipDate" name="shipDateR"></section>
        <section><h2>DC:</h2><input type="text"  id="dcS"  placeholder="Distribution Center" list="distCenter" name="dcR"></section>
        <section><h2>Cartons:</h2><textarea type="text" id="cartonListS" cols="16" placeholder="Carton List" onkeyup="textAreaAdjust(this)" style="overflow:hidden" name="cartonListR"></textarea></section>
        <input type="submit" placeholder="palletHeaderS" name="palletHeaderS">
    </form>


    <a href="/logout">Log Out</a>

    <datalist id="customer">
        <option value="Dillards"></option>
        <option value="Belk"></option>
        <option value="Macys"></option>
        <option value="Marine"></option>
        <option value="Amazon"></option>
        <option value="AAFES"></option>
    </datalist>
    
    <datalist id="distCenter">
        <option value="737"></option>
        <option value="744"></option>
        <option value="Salisbury - 21"></option>
        <option value="Valdosta - 22"></option>
        <option value="Olathe - 23"></option>
        <option value="Mabelvale - 24"></option>
        <option value="Ft Worth - 27"></option>
        <option value="Gilbert - 29"></option>
    </datalist>

    <%- include('partials/footer') -%>