<%- include('partials/header') -%>

    <h1>What would you like to do:</h1>
    <ul>
        <li><a href="/pallet/buildPallet">Build Pallets</a></li>
        <li><a href="/pallet/reconcile">Reconcile Pallets</a></li>
    </ul>

<%- include('partials/footer') -%>