<%- include('partials/header') -%>
<h1>Customer to reconcile</h1>

<ul>
    <li><a href="/pallet/reconcile/Dillards">Dillards</a></li>
    <li><a href="/pallet/reconcile/Macys">Macys</a></li>
    <li><a href="/pallet/reconcile/Belk">Belk</a></li>
</ul>



<%-include('partials/footer') -%>